<div class="body-container" *ngIf="registerForm">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="username">
      Korisničko ime
      <input type="text" id="username" formControlName="username"
    /></label>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('username').hasError('required') &&
        registerForm.get('username').touched
      "
    >
      Korisničko ime je obavezno polje.
    </div>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('username').hasError('nonUniqueUsername') &&
        registerForm.get('username').touched
      "
    >
      Korisničko je zauzeto.
    </div>

    <label for="email"
      >Email <input type="email" id="email" formControlName="email"
    /></label>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('email').hasError('required') &&
        registerForm.get('email').touched
      "
    >
      Email je obavezno polje.
    </div>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('email').hasError('email') &&
        registerForm.get('email').touched
      "
    >
      Unesi validnu email adresu.
    </div>

    <label for="password"
      >Lozinka <input type="password" id="password" formControlName="password"
    /></label>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('password').hasError('required') &&
        registerForm.get('password').touched
      "
    >
      Lozinka je obavezno polje
    </div>
    <div
      class="warn-msg red-txt bold"
      *ngIf="
        registerForm.get('password').hasError('minlength') &&
        registerForm.get('password').touched
      "
    >
      Lozinka mora imati najmanje 6 karaktera.
    </div>

    <label for="confirmPassword"
      >Još jednom ukucaj lozinku
      <input
        type="password"
        id="confirmPassword"
        formControlName="confirmPassword"
    /></label>
    <div
      class="warn-msg red-txt bold"
      *ngIf="registerForm.hasError('passwordMismatch')"
    >
      Lozinke se ne poklapaju.
    </div>
    <div>
      <label for="avatar"
        >Avatar

        <input
          class="custom-file-input"
          type="file"
          id="avatar"
          accept="image/*"
          (change)="setUploadedFile($event)" />
        <img
          [src]="uploadedAvatarUrl ? uploadedAvatarUrl : defaultAvatarUrl"
          alt="Avatar preview"
          class="avatar avatar-preview"
      /></label>
    </div>

    <button
      class="btn secondary-btn"
      type="submit"
      [ngClass]="{ unclickable: !registerForm.valid }"
      [disabled]="!registerForm.valid"
    >
      Učlani se
    </button>
  </form>
</div>
