@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600;700&family=ZCOOL+KuaiLe&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

//typography
$main-font: "Quicksand", sans-serif;
$chinese-font: "ZCOOL KuaiLe", sans-serif;
$cursive-font: "Cedarville Cursive", cursive;

//colors
$robin-egg-blue: #b6d7d8;
$robin-egg-blue-rgba: rgba(182, 215, 216, 0.5);
$mimi-pink: #e8c9d1ff;
$persian-red: #cf2c32ff;
$almond: #f4e1cbff;
$naples-yellow: #f7de64ff;
$white: white;
$primary-text: black;
$main-body: #f7f2ed;
