//typography
$main-font: "Quicksand", sans-serif;
$chinese-font: "ZCOOL KuaiLe", sans-serif;

//colors
$robin-egg-blue: #b6d7d8;
$mimi-pink: #e8c9d1ff;
$persian-red: #cf2c32ff;
$almond: #f4e1cbff;
$naples-yellow: #f7de64ff;
$white-text: white;
$primary-text: black;
$main-body: #f7f2ed;
