<div class="body-container">
  <div class="exe-container">
    <a routerLink="/character-quiz">
      <div class="card blue float" routerLink="/character-quiz">
        <h3>Vjezbanje 1</h3>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro,
          corrupti repellendus voluptates quia optio temporibus, eveniet tempora
          dignissimos fuga recusandae aut quidem quasi et pariatur explicabo
          ipsum quos distinctio voluptatibus.
        </p>
      </div>
    </a>
  </div>
</div>
