@import "../../../../assets/scss/variables.scss";

.card {
  p {
    font-size: 0.8rem;
  }
  &:hover {
    .descriptor {
      background-color: $persian-red;
      border-color: $persian-red;
      color: white;
    }
  }
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
