@import "../../../../assets/scss/variables.scss";

h1 {
  color: $robin-egg-blue;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
