@import "../../../../assets/scss/variables.scss";

.body-container {
  display: flex;
  flex-direction: column;

  .top,
  .bottom {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  }

  .top {
    .left {
      width: 40%;

      p {
        margin-bottom: 1rem;
      }
    }

    .right {
      width: 50%;
      position: relative;
      .visual {
        max-width: 100%;
        position: relative;
        z-index: 1;
      }

      .red-outline {
        max-width: 110%;
        top: 2rem;
        right: -1rem;
      }

      .yellow-sparkle {
        max-width: 300px;
        top: -7.5rem;
        right: -8.5rem;
      }
    }
    .full-width {
      width: 100%;
    }
  }

  .blob {
    opacity: 0.7;
    position: absolute;
  }

  .bottom {
    .left {
      width: 30%;
      .visual {
        width: 100%;
      }
      margin-right: 4rem;
    }
    .red-sparkle {
      z-index: 3;
      max-width: 150px;
      left: 9rem;
      bottom: -32rem;
      rotate: -40deg;
    }
    .turquise {
      width: 230px;
      left: 23rem;
      bottom: -18rem;
    }

    .right {
      width: 60%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      justify-content: center;
    }
  }
}

hr {
  height: 1px;
  border: none;
  border-radius: 50%;
  margin: 2rem 1rem 2rem 1rem;
  background: linear-gradient(to right, #e8c9d1ff, #cf2c32ff, #e8c9d1ff);
}

p::first-letter {
  initial-letter: 2;
  font-weight: 600;
  font-family: $cursive-font;
}
