<div class="body-container">
  <div class="left">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus earum
      libero dolore labore repellendus aut harum dolor. Modi molestiae explicabo
      excepturi perferendis aut sint quidem, rem, cum tempore voluptate quae.
    </p>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rem fugiat sint
      ex recusandae eius consectetur atque doloribus commodi nihil pariatur
      numquam dicta optio, distinctio fugit veniam cumque vitae voluptatibus
      magni.
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos reprehenderit consectetur saepe in, provident repellendus quas repellat illum, illo adipisci amet? Dolores blanditiis enim nesciunt libero, optio quae dolorum perspiciatis?</p>
  </div>
  <div class="right">
    
  </div>
</div>
