<div class="body-container">
  <div class="top">
    <div class="left">
      <p>
        <span class="capitalize red-txt">K</span>ineska učionica predstavlja
        finalni projekat na kursu Logate akademije - veb programiranje. Nastala
        je iz moje želje da u projekat spakujem sva moja znanja koja sam do sad
        prikupila, a da finalni rezultat bude nešto, prije svega, slatko i
        razdragano.
      </p>
      <p>
        <span class="capitalize red-txt">A</span>plikacija je osmišljena tako da
        registrovani korisnik može prvo odabrati modul a potom i lekciju u
        okviru modula koju želi da uči. Lekcija se sastoji od novih riječi za
        koje korisnik može vidjeti prevod, izgovor, primjere, pravilno
        ispisivanje, kao i poslušati audio zapis izgovora. Administrator može
        dodavati i mijenjati module, lekcije i nove riječi, ili ih učiniti
        privremeno neaktivnima(nevidljivima običnom korisniku).
      </p>
    </div>
    <div class="right">
      <div class="visual-container">
        <img class="visual" src="../../../../assets/img/girl-working.png" />

        <img
          class="blob yellow-sparkle"
          src="../../../../assets/img/yellow-sparkle.png"
        />
        <img
          class="blob red-outline breathe"
          src="../../../../assets/img/redoutline.png"
        />
      </div>
    </div>
    <div class="full-width">
      <p>
        <span class="capitalize red-txt">A</span>plikacija je napravljena uz
        pomoć Angulara, a za potrebe projekta odrađen je i jednostavan node.js
        RESTful API, kao i MySQL baza podataka. Pored čistog HTML,CSS i custom
        Angular komponenti, iskorišćene su i pojedine Angular Material
        komponente, a za forme su korišćeni Angular Reactive Forms.
      </p>
    </div>
  </div>
</div>
