<div class="body-container">
  <div class="top">
    <div class="left">
      <p>
        <span class="capitalize red-txt">K</span>ineska učionica predstavlja
        finalni projekat na kursu Logate akademije - veb programiranje. Nastala
        je iz moje želje da u projekat spakujem sva moja znanja koja sam do sad
        prikupila, a da finalni rezultat bude nešto, prije svega, slatko i
        razdragano.
      </p>
      <p>
        <span class="capitalize red-txt">A</span>plikacija je osmišljena tako da
        registrovani korisnik može prvo odabrati modul a potom i lekciju u
        okviru modula koju želi da uči. Lekcija se sastoji od novih riječi za
        koje korisnik može vidjeti prevod, izgovor, primjere, kao i poslušati
        audio zapis izgovora. Administrator može dodavati i mijenjati module,
        lekcije i nove riječi, ili ih učiniti privremeno
        neaktivnima(nevidljivima običnom korisniku).
      </p>
    </div>
    <div class="right">
      <div class="visual-container">
        <img class="visual" src="../../../../assets/img/girl-working.png" />

        <img
          class="blob yellow-sparkle"
          src="../../../../assets/img/yellow-sparkle.png"
        />
        <img
          class="blob red-outline breathe"
          src="../../../../assets/img/redoutline.png"
        />
      </div>
    </div>
    <div class="full-width">
      <p>
        <span class="capitalize red-txt">A</span>plikacija je napravljena uz
        pomoć Angulara, a za potrebe projekta odrađen je i jednostavan node.js
        RESTful API, kao i MySQL baza podataka. Pored čistog HTML,CSS i custom
        Angular komponenti, iskorišćene su i pojedine Angular Material
        komponente, a za forme su korišćeni Angular Reactive Forms.
      </p>
    </div>
  </div>
  <hr />
  <div class="bottom">
    <div class="left">
      <div class="visual-container">
        <img class="visual" src="../../../../assets/img/tijana.png" />

        <img
          class="blob red-sparkle"
          src="../../../../assets/img/red-sparkle.png"
        />
        <img
          class="blob turquise breathe"
          src="../../../../assets/img/greenblob.png"
        />
      </div>
    </div>
    <div class="right">
      <p>
        <span class="capitalize red-txt">J</span>a sam Tijana, i ja sam
        napravila ovu aplikaciju. Po struci sam diplomirana profesorica kineskog
        jezika, a po hobijima baštovanka, developerka, gejmerka, maratonka,
        pekarka, kuvarica, snoubourderka, pjevačica i još po nešto. Sasvim
        slučajno sam se našla u svijetu marketinga, a vrlo namjerno u svijetu
        veb programiranja.
      </p>
      <p>
        <span class="capitalize red-txt">D</span>ok sam smišljala ideje za svoj
        finalni projekat na Logate akademiji, znala sam da želim da napravim
        nešto sa svrhom, i nešto na čemu ću kontinuirano moći da se vraćam, i
        što ću moći da podijelim sa drugima.
      </p>
      <p>
        <span class="capitalize red-txt">U</span> tehničkom smislu, cilj mi je
        bio da stvorim koherentnu cjelinu trudeći se da se pridržavam dobrih
        praksi. Istovremeno, nisam zazirala da zakoračim van granica kurikuluma
        i iskoristim naprednija i bolja rješenja gdje sam smatrala adekvatnim i
        izvodivim u svakom datom momentu.
      </p>
    </div>
  </div>
</div>
