<div class="body-container">
  <form [formGroup]="addEditLevelForm">
    <h2>{{ edit ? "Izmijeni " : "Dodaj novi " }} modul</h2>
    <div class="add-form">
      <label for="name"
        >Naziv<input type="text" id="name" required formControlName="name"
      /></label>
      <label for="difficulty"
        >Težina<select id="difficulty" required formControlName="difficulty">
          <option *ngFor="let df of difficulties" [value]="df.id">
            {{ df.name }}
          </option>
        </select></label
      >
      <label for="cefr"
        >CEFR ekvivalent<select id="cefr" required formControlName="cefrEquiv">
          <option *ngFor="let ce of cefrEquivs" [value]="ce.id">
            {{ ce.name }}
          </option>
        </select></label
      >
      <label for="description"
        >Opis
        <textarea
          id="description"
          cols="50"
          rows="5"
          required
          formControlName="description"
        ></textarea>
      </label>

      <button
        class="btn secondary-btn"
        [ngClass]="{ unclickable: !addEditLevelForm.valid }"
        (click)="saveLevel()"
      >
        Sačuvaj
      </button>
    </div>
  </form>
</div>
