@import "../../../../assets/scss/variables.scss";

h2 {
  color: $robin-egg-blue;
  font-size: 2rem;
  align-self: center;
}
.body-container {
  display: flex;
  flex-direction: column;
}

.add-form {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
  gap: 1rem;
  align-self: center;
  width: 70%;

  .btn {
    align-self: center;
  }

  .unclickable {
    pointer-events: none;
    opacity: 0.3;
  }
}

input,
select,
textarea {
  width: 100%;
  min-height: 2em;
  margin: 0.5em 0 1em;
  padding: 0.3rem;
  display: block;
  border: none;
  border-bottom: 3px solid $mimi-pink;
  border-radius: 5px 5px 0 0;
}
