@import "../../../../assets/scss/variables.scss";

img {
  max-height: 10rem;
}

.dialog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $robin-egg-blue-rgba;
  border: 4px solid $robin-egg-blue;
  gap: 1rem;
  padding: 1rem;
}

.close-icon {
  align-self: flex-end;
}

.avatar {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 2px solid $naples-yellow;
}

.close-icon,
.edit-icon {
  color: $white;
  align-self: flex-end;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    font-weight: 600;
  }
}
