<div class="dialog-container">
  <fa-icon
    size="lg"
    class="icon grow close-icon"
    [icon]="cancelIcon"
    (click)="closeDialog()"
  ></fa-icon>
  <div class="user-info">
    <div class="line">
      <img class="avatar" [src]="userAvatarPath" alt="User avatar" />
    </div>
    <div class="line">
      <p>{{ this.user?.username }}</p>
    </div>
    <div class="line">
      <p>{{ this.user?.email }}</p>
    </div>
  </div>

  <fa-icon
    size="lg"
    class="icon grow edit-icon"
    [icon]="editIcon"
    (click)="onEdit()"
  ></fa-icon>
</div>
