@import "../../../../assets/scss/variables.scss";
.additional-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
  p {
    display: inline-block;
    font-size: 1.2rem;
    color: $primary-text;
    font-weight: 600;
    &.chinese-text {
      font-size: 1.3rem;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 21rem;
  padding-bottom: 0.8rem;
  background-color: $white;
  p {
    font-size: 0.9rem;
    color: $primary-text;
    width: 80%;
    text-align: center;
  }
}

.message {
  display: block;
  height: 1.5rem;
  width: 100%;
  p {
    margin: 0 auto;
  }
}

fa-icon {
  color: $robin-egg-blue;
}
