<div class="body-container">
  <div *ngIf="charactersInWords" class="card-container">
    <div class="card" *ngFor="let char of charactersInWords; let i = index">
      <div class="additional-info">
        <p>{{charactersInWords?.[i].wordMeaning}}</p>
        -
        <p class="chinese-text">{{charactersInWords?.[i].containedInWord}}</p>
      </div>
      <div [id]="'quiz-target-div-' + i"></div>
      <fa-icon
        [icon]="soundIcon"
        class="grow"
        (click)="playPronunciation(charactersInWords?.[i])"
        size="sm"
      ></fa-icon>
      <div class="message">
        <p [id]="'message-' + i"></p>
      </div>
    </div>
  </div>
</div>
