<div class="body-container">
  <div class="level-info">
    <h1>{{ level?.name }}</h1>
    <div class="descriptor-container">
      <p class="level-descriptor">{{ level?.difficulty }}</p>
      <p class="level-descriptor">{{ level?.cefrEquiv }}</p>
    </div>
  </div>

  <div class="card-container" *ngFor="let ls of lessons">
    <a routerLink="/lessons/{{ ls.id }}" class="card-link">
      <div class="card blue float">
        <h2>{{ ls.name }}</h2>
        <p>{{ ls.description }}</p>
        <fa-icon
          class="arrow-right grow"
          size="lg"
          [icon]="rightArrow"
        ></fa-icon>
      </div>
    </a>
  </div>
</div>
