@import "../../../../assets/scss/variables.scss";

.level-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.level-descriptor {
  background-color: $persian-red;
  color: white;
  border: 1px solid $persian-red;
}

h1 {
  color: $robin-egg-blue;
  font-size: 2.5rem;
}

.card {
  .arrow-right {
    align-self: flex-end;
    color: $white-text;
    margin-top: 2rem;
  }

  &:hover {
    .arrow-right {
      color: $robin-egg-blue;
    }
  }
}
