@import "../../../../assets/scss/variables.scss";

footer {
  display: flex;
  padding: 1rem;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: $almond;
  color: $primary-text;
}

#left,
#right,
#middle {
  width: 20%;
  margin-bottom: 1rem;
}

#socials {
  display: flex;
  margin: 0.3rem;
  gap: 0.3rem;
}

.nav-link-foot {
  color: $primary-text;
  :hover {
    color: $robin-egg-blue;
  }
}

.send-btn {
  border: none;
  background-color: $almond;
  color: $robin-egg-blue;
  :hover {
    color: $persian-red;
  }
}

.newsletter {
  border: none;
  padding: 0.3rem;
  margin: 0.3rem;
  margin-left: 0;
  font-size: 0.8rem;
  border-radius: 5px 5px 0 0;
  border-bottom: 3px solid $mimi-pink;
  outline: none;
}

input {
  width: fit-content;
}
