<footer>
  <div id="left">
    <p>
      Kinesku učionicu je <span class="red-txt bold">s ljubavlju</span> kreirala
      Tijana G.
    </p>
    <div id="socials">
      <a
        class="grow"
        href="https://www.facebook.com/glittering.blackness/"
        target="_blank"
        ><fa-icon size="xl" [icon]="faSquareFacebook" class="to-red"></fa-icon>
      </a>
      <a
        class="grow"
        href="https://www.instagram.com/__tijuanaa__/"
        target="_blank"
      >
        <fa-icon class="to-red" size="xl" [icon]="faSquareInstagram"></fa-icon
      ></a>
      <a
        class="grow"
        href="https://www.linkedin.com/in/tijana-gracanin/"
        target="_blank"
        ><fa-icon size="xl" [icon]="faLinkedin" class="to-red"></fa-icon
      ></a>
      <a class="grow" href="https://github.com/nnymphadora" target="_blank"
        ><fa-icon size="xl" [icon]="faGithub" class="to-red"></fa-icon
      ></a>
    </div>
  </div>
  <div id="middle">
    <ul class="nav-horizontal">
      <a routerLink="/" class="nav-link-foot"><li>Početna</li></a>
      <a routerLink="/about" class="nav-link-foot"><li>O nama</li></a>
      <a routerLink="/contact" class="nav-link-foot"><li>Kontakt</li></a>
    </ul>
  </div>
  <div id="right">
    <p>
      Želiš da ostaneš u toku sa našim aktivnostima? Prijavi se na newsletter!
    </p>
    <label for="newsletter"
      ><input
        id="newsletter"
        type="email"
        class="newsletter"
        placeholder="example@email.com"
    /></label>
    <button class="send-btn grow">
      <fa-icon size="lg" [icon]="faPaperPlane"></fa-icon>
    </button>
  </div>
</footer>
