<div class="quick-info">
  <div class="left">
    <h1>{{ title }}</h1>

    <fa-icon
      *ngIf="isAdmin"
      [routerLink]="editLink"
      size="lg"
      class="icon grow"
      [icon]="editIcon"
    ></fa-icon>
    <fa-icon
      *ngIf="isAdmin"
      (click)="softDeleteItem()"
      size="lg"
      class="icon grow"
      [icon]="deleteIcon"
    ></fa-icon>
    <div class="switch-container" *ngIf="isAdmin">
      <label></label>
      <label class="switch">
        <input
          id="active"
          type="checkbox"
          [checked]="isActiveItem"
          [(ngModel)]="isActiveItem"
          (ngModelChange)="toggleActiveItem()"
        />
        <span class="slider round"></span>
      </label>
    </div>
  </div>

  <div class="right">
    <div class="descriptor-container">
      <p
        *ngIf="itemType === 'level' && itemType.isActive === 0"
        class="level-descriptor"
      >
        Neaktivan
      </p>
      <p
        *ngIf="itemType === 'lesson' && itemType.isActive === 0"
        class="level-descriptor"
      >
        Neaktivna
      </p>
      <p class="descriptor">{{ difficulty }}</p>
      <p class="descriptor">{{ cefrEquiv }}</p>
    </div>
  </div>
</div>
