<mat-menu xPosition="before" yPosition="below">
  <button routerLink="/" mat-menu-item>Početna</button>
  <button routerLink="/levels" mat-menu-item *ngIf="isLoggedIn">Uči</button>
  <button routerLink="/exercises" mat-menu-item *ngIf="isLoggedIn">
    Vježbaj
  </button>
  <button routerLink="/about" mat-menu-item>O projektu</button>
  <button routerLink="/login" mat-menu-item *ngIf="!isLoggedIn">
    Prijavi&nbsp;se
  </button>
  <button
    class="highlighted"
    mat-menu-item
    *ngIf="isLoggedIn"
    (click)="onLogOut()"
  >
    Odjavi se
  </button>
  <button
    routerLink="/register"
    mat-menu-item
    class="highlighted"
    *ngIf="!isLoggedIn"
  >
    Učlani&nbsp;se
  </button>
</mat-menu>
