@import "../../../../assets/scss/variables.scss";

.wrapper {
  width: 230px;
  height: 230px;
  cursor: pointer;
}
.icon-div {
  justify-self: center;

  fa-icon {
    margin: 3px;

    &:hover {
      color: $robin-egg-blue;
    }
  }

  &.admin-icons {
    margin-left: 100px;
    margin-top: 5px;
  }
}
.flashcard > div {
  position: absolute;
  height: 100%;
  width: 100%;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 20px;
  border: 1px solid $mimi-pink;
}

.flashcard {
  .back,
  .front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 0.7rem;
    padding: 1rem;
  }
}

.flashcard {
  height: 100%;
  width: 100%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 600ms;
  transition: all 600ms;
  .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: $white;
    .chinese-text {
      font-size: 1.5rem;
    }
  }
  .front {
    .chinese-text {
      font-size: 5rem;
    }

    background-color: $main-body;
    color: $robin-egg-blue;

    &:hover {
      border-color: $robin-egg-blue;
      background-color: $white;
      color: $primary-text;
    }
  }
}

.flipped {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.pinyin-meaning {
  font-size: 1.5rem;
  font-weight: bold;
}

.ex-sent p {
  font-size: 0.8rem;
  text-align: center;
}
