<div class="wrapper">
  <div class="flashcard" [class.flipped]="flipped" (click)="toggle()">
    <div class="front">
      <span class="chinese-text" [style.font-size.rem]="fontSizeCn">{{
        newWordData?.content
      }}</span>
      <fa-icon
        [icon]="soundIcon"
        class="grow"
        (click)="playPronunciation()"
        size="lg"
      ></fa-icon>
    </div>
    <div class="back">
      <div>
        <p class="pinyin-meaning" [style.font-size.rem]="fontSizeMn">
          {{ newWordData?.pinyin }} - {{ newWordData.meaning }}
        </p>
      </div>

      <div class="ex-sent">
        <p class="chinese-text">{{ newWordData?.exSent1 }}</p>
        <p>{{ newWordData?.exSent1Mne }}</p>
      </div>
      <div class="ex-sent">
        <p class="chinese-text">{{ newWordData?.exSent2 }}</p>
        <p>{{ newWordData?.exSent2Mne }}</p>
      </div>
    </div>
  </div>
</div>
<div class="icon-div" *ngIf="isAdmin">
  <fa-icon
    class="alert-icon"
    [icon]="deleteBtn"
    (click)="deleteClick()"
  ></fa-icon>
  <fa-icon class="alert-icon" [icon]="editBtn" (click)="editClick()"> </fa-icon>
</div>
