<h3>Dodaj nove riječi u lekciju {{ this.lesson?.name }}</h3>

<form [formGroup]="newWordsForm">
  <div formArrayName="newWords">
    <div
      *ngFor="let newWord of newWordForms?.controls; let i = index"
      class="line"
      [formGroupName]="i"
      [ngClass]="{ 'active-group': isGroupActive(i) }"
      (click)="onGroupClick(i)"
    >
      <div class="main-info">
        <label for="content{{ i }}">
          Riječ:
          <input type="text" [formControlName]="'content'" required />
        </label>
        <label for="meaning{{ i }}"
          >Značenje:
          <input type="text" formControlName="meaning" required />
        </label>
        <label for="pinyin{{ i }}"
          >Pinyin:
          <input type="text" formControlName="pinyin" required />
        </label>
      </div>

      <div class="ex-sent">
        <label for="ex-sent1{{ i }}"
          >Primjer 1
          <input type="text" formControlName="exSent1" />
        </label>
        <label for="ex-sent1-meaning{{ i }}"
          >Prevod 1
          <input type="text" formControlName="exSent1Mne" />
        </label>
      </div>
      <div class="ex-sent">
        <label for="ex-sent2{{ i }}"
          >Primjer 2
          <input type="text" formControlName="exSent2" />
        </label>
        <label for="ex-sent2-meaning{{ i }}"
          >Prevod 2
          <input type="text" formControlName="exSent2Mne" />
        </label>
      </div>
      <fa-icon
        class="grow dlt-btn alert-icon"
        size="xl"
        [icon]="deleteBtn"
        (click)="deleteWordGroup(i)"
      ></fa-icon>
    </div>
  </div>

  <fa-icon
    class="grow alert-icon add-btn"
    size="xl"
    [icon]="addBtn"
    (click)="addWordGroup()"
  ></fa-icon>
</form>
