<div class="body-container">
  <div class="left">
    <h1>Zdravo!</h1>
    <p>
      Dobrodošao/la u Kinesku učionicu - aplikaciju dizajniranu da ti pomogne u
      učenju kineskih karaktera!
    </p>
    <p>
      Pomoći ćemo ti da ovladaš vokabularom od oko 5000 kineskih riječi,
      podijeljenih na nivoe i lekcije.
    </p>
    <p>Učlani se i zagrij stolicu! Ne brini, sve aktivnosti su besplatne!</p>
    <div class="btns">
      <button
        *ngIf="isLoggedIn"
        routerLink="/levels"
        class="btn primary-btn big-btn grow"
      >
        Učionica
      </button>
      <button
        *ngIf="!isLoggedIn"
        class="btn secondary-btn big-btn grow"
        routerLink="/register"
      >
        Učlani&nbsp;se
      </button>
    </div>
  </div>
  <div class="right">
    <div class="visual-container">
      <img class="visual" src="../../../../assets/img/1.png" />
      <img
        class="blob turquise breathe"
        src="../../../../assets/img/greenblob.png"
      />
      <img
        class="blob yellow breathe"
        src="../../../../assets/img/yellowblob.png"
      />
      <img
        class="blob red rotate"
        src="../../../../assets/img/redoutline.png"
      />
    </div>
  </div>
</div>
