@import "/node_modules/@angular/material/legacy-prebuilt-themes/legacy-indigo-pink.css";

@import "/src/assets/scss/variables.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: $main-font;
}

a {
  text-decoration: none;
  color: $primary-text;
  display: inline-block;
}

.main {
  background-color: $main-body;
  color: $primary-text;
  min-height: 80dvh;
  padding: 3rem;
}

.body-container {
  width: 70%;
  margin: 0 auto;
}

//buttons
.btn {
  border-radius: 55px;
  padding: 0.3rem 0.7rem;
  border-style: none;
  color: $primary-text;
  font-weight: 700;
  z-index: 5;
  max-width: fit-content;
  &.unclickable {
    pointer-events: none;
    opacity: 0.3;
  }
}

.big-btn {
  font-size: 1.2rem;
  padding: 0.3em 0.8em;
  font-weight: 600;
}

.primary-btn {
  background-color: $almond;
}

.secondary-btn {
  background-color: $robin-egg-blue;
}

.alert-btn {
  background-color: $persian-red;
}

.alert-icon {
  color: $persian-red;
}
//kartice

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  text-align: justify;
}

.card {
  p {
    font-size: 0.8rem;
  }
  &:hover {
    .descriptor {
      background-color: $persian-red;
      border-color: $persian-red;
      color: white;
    }
  }
}

.blue {
  background-color: $robin-egg-blue;
  color: $white;
  &:hover {
    background-color: $white;
    color: black;
  }
}

.inactive-card.blue {
  background-color: $robin-egg-blue-rgba;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}

.add-icon {
  margin: 3rem;
}

.add-container {
  margin: 0 auto;
}

.card,
.card-link {
  width: 15rem;
  height: 13rem;
}

//navigation

.nav-horizontal {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  li {
    display: inline-block;
  }
}
.nav-link {
  z-index: 5;
}

.avatar {
  border-radius: 50%;
}

//random text-styles
.red-txt {
  color: $persian-red;
}

.bold {
  font-weight: 600;
}

.descriptor {
  border: 1px solid $white;
  padding: 0.1rem 1rem;
  border-radius: 55px;
  display: inline-block;
  margin: 0 0.5rem;
}

.warn-msg {
  font-size: 0.8rem;
}

//animations

.to-red:hover {
  color: $persian-red;
}

.underline {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  ::after {
    content: "";
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    border-bottom: 2px solid $naples-yellow;
    transform-origin: bottom right;
    transition: transform 0.25s ease;
  }

  :hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.rotate {
  animation-name: rotate;
  animation-duration: 15s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(70deg);
  }

  10% {
    transform: rotate(0deg);
  }
}

.breathe {
  animation-name: breathe;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes breathe {
  0% {
    transform: scale(1);
    rotate: 0deg;
  }
  50% {
    transform: scale(1.2);
    rotate: 11deg;
  }
  100% {
    transform: scale(1);
    rotate: 0deg;
  }
}

.float:hover {
  animation-name: float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//inputs look

input,
select,
textarea {
  width: 100%;
  min-height: 2em;
  margin: 0.5em 0 1em;
  padding: 0.3rem;
  border: none;
  border-bottom: 3px solid $mimi-pink;
  border-radius: 5px 5px 0 0;
}
