<div class="dialog-container">
  <fa-icon
    [icon]="closeIcon"
    class="alert-icon close-icon"
    (click)="closeDialog()"
    size="lg"
  ></fa-icon>
  <h2>Izmijeni riječ</h2>

  <form [formGroup]="editNewWordForm">
    <div class="add-form">
      <div class="info">
        <label for="content" class="short"
          >Riječ<input type="text" id="content" formControlName="content"
        /></label>
        <label for="meaning" class="short"
          >Značenje<input type="text" id="meaning" formControlName="meaning"
        /></label>
        <label for="pinyin" class="short"
          >Riječ<input type="text" id="pinyin" formControlName="pinyin"
        /></label>
      </div>
      <div class="ex-sent">
        <label for="ex-sent1"
          >Primjer 1
          <input type="text" id="ex-sent" formControlName="exSent1" />
        </label>
        <label for="ex-sent1-meaning"
          >Prevod 1
          <input
            type="text"
            id="ex-sent1-meaning"
            formControlName="exSent1Mne"
          />
        </label>
      </div>
      <div class="ex-sent">
        <label for="ex-sent2"
          >Primjer 2
          <input type="text" id="ex-sent2" formControlName="exSent2" />
        </label>
        <label for="ex-sent2-meaning"
          >Prevod 2
          <input
            type="text"
            id="ex-Sent2-meaning"
            formControlName="exSent2Mne"
          />
        </label>
      </div>

      <button
        class="btn secondary-btn"
        [ngClass]="{ unclickable: !editNewWordForm.valid }"
        (click)="saveNewWord()"
      >
        Sačuvaj
      </button>
    </div>
  </form>
</div>
