<header>
  <div id="left">
    <img routerLink="/" src="../../../../assets/img/logo.png" alt="" />
  </div>
  <div id="middle">
    <ul class="nav-horizontal">
      <a routerLink="/" class="nav-link-head underline"><li>Početna</li></a>
      <a routerLink="/levels" *ngIf="isLoggedIn" class="nav-link-head underline"
        ><li>Uči</li></a
      >
      <a class="nav-link-head underline" *ngIf="isLoggedIn"><li>Vježbaj</li></a>
      <a routerLink="/about" class="nav-link-head underline"
        ><li>O projektu</li></a
      >
    </ul>
  </div>
  <div id="right">
    <button
      class="btn grow primary-btn"
      routerLink="/login"
      *ngIf="!isLoggedIn"
    >
      Prijavi&nbsp;se
    </button>
    <button
      class="btn grow secondary-btn"
      *ngIf="!isLoggedIn"
      routerLink="/register"
    >
      Učlani&nbsp;se
    </button>

    <img
      class="avatar header-avatar"
      *ngIf="isLoggedIn"
      [src]="userAvatarPath"
      alt="User avatar"
    />
    <span class="username" *ngIf="isLoggedIn">{{ user?.username }}</span>
    <button
      class="btn grow secondary-btn"
      *ngIf="isLoggedIn"
      (click)="logout()"
    >
      Odjavi&nbsp;se
    </button>
  </div>
</header>
