<header>
  <div id="left">
    <img src="../../../../assets/img/logo.png" alt="" />
  </div>
  <div id="middle">
    <ul>
      <a routerLink="/" class="nav-link underline"><li>Početna</li></a>
      <a class="nav-link underline"><li>Uči</li></a>
      <a class="nav-link underline"><li>Vježbaj</li></a>
      <a routerLink="/about" class="nav-link underline"><li>O nama</li></a>
    </ul>
  </div>
  <div id="right">
    <button class="btn grow primary-btn">Prijavi se</button>
    <button class="btn grow secondary-btn">Učlani se</button>
  </div>
</header>
