<header>
  <div id="left">
    <img src="../../../../assets/img/logo.png" alt="" />
  </div>
  <div id="middle">
    <ul class="nav-horizontal">
      <a routerLink="/" class="nav-link-head underline"><li>Početna</li></a>
      <a routerLink="/levels" class="nav-link-head underline"><li>Uči</li></a>
      <a class="nav-link-head underline"><li>Vježbaj</li></a>
      <a routerLink="/about" class="nav-link-head underline"><li>O nama</li></a>
    </ul>
  </div>
  <div id="right">
    <button class="btn grow primary-btn">Prijavi&nbsp;se</button>
    <button class="btn grow secondary-btn">Učlani&nbsp;se</button>
  </div>
</header>
