<div class="dialog-container">
  <h2>Odaberi modul i lekciju</h2>
  <form [formGroup]="levelLessonForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="level">Modul: </label>
      <select
        id="level"
        class="form-control"
        formControlName="level"
        (change)="onLevelChange()"
      >
        <option *ngFor="let level of allLevels" [value]="level.id">
          {{ level?.name }}
        </option>
      </select>
      <div
        *ngIf="levelLessonForm.get('level').hasError('required')"
        class="warn-msg red-txt"
      >
        Modul je neophodno polje!
      </div>
    </div>
    <div class="form-group">
      <label for="lesson">Lekcija:</label>
      <select id="lesson" class="form-control" formControlName="lesson">
        <option *ngFor="let lesson of allLessonsForLevel" [value]="lesson.id">
          {{ lesson?.name }}
        </option>
      </select>
      <div
        *ngIf="levelLessonForm.get('lesson').hasError('required')"
        class="warn-msg red-txt"
      >
        Lekcija je neophodno polje!
      </div>
      <label for="no-of-words">Koliko riječi?</label>
      <input
        id="no-of-words"
        type="number"
        max="10"
        min="2"
        formControlName="noOfWords"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [ngClass]="{ unclickable: !levelLessonForm.valid }"
    >
      Započni kviz!
    </button>
  </form>
</div>
