@import "../../../../assets/scss/variables.scss";

.dialog-container {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background-color: $white;
  width: 100%;
  height: fit-content;
  align-items: center;
}
.custom-confirm-dialog-width {
  width: 40vw;
}

.btn {
  margin: 1rem;
}
