@import "../../../../assets/scss/variables.scss";

.crumbs {
  text-align: end;
  h2,
  h2 > a {
    color: $robin-egg-blue;
  }

  h2 > a {
    text-decoration: underline;
  }

  span {
    color: $robin-egg-blue-rgba;
    font-size: 0.9rem;
  }
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.custom-dialog-width {
  width: 50%;
}
